input[type="file"] {
  box-shadow: none;
}

.input {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 0.3rem auto;
  resize: none;
  font-family: 'Segoe UI', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &--thin {
    padding: 0.3rem;
  }

  &--small {
    max-width: 10rem;
  }

  &--x-small {
    max-width: 5rem;
    margin: 0.3rem 0;
  }

  &--search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--no-style {
    background-color: transparent;
    box-shadow: none;
  }

  &--no-arrows::-webkit-outer-spin-button,
  &--no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &--no-arrows[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.input-label {
  button {
    margin-left: 0.05rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--label-stack {
    display: flex;
    flex-direction: column;
    text-align: start;

    input {
      margin: 0.2rem 0;
    }
  }

  &--label-no-stack {
    input {
      margin-left: 0.5rem;
    }
  }

  &--label-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre;
  }

  &--label-full-width {
    width: 100%;
  }

  &--label-bold {
    font-weight: bold;
  }

  &--label-no-margin {
    margin: 0;
  }

  &--label-fit-content {
    width: fit-content;
  }
}
