:root {
  /* Fonts */
  --ft-display-0: 3.125rem;
  --ft-display-1: 4rem;
  --ft-display-2: 5rem;
  --ft-display-3: 7rem;
  --ft-display-4: 8rem;
  --ft-display-5: 9rem;
  --ft-h1: 2.5rem;
  --ft-h2: 1.5625rem;
  --ft-h3: 1.25rem;
  --ft-body-0: 0.83rem;
  --ft-body-1: 0.875rem;
  --ft-body-2: 1rem;
  --ft-sm-0: 0.5rem;
  --ft-sm-1: 0.6rem;
  --ft-sm-2: 0.68rem;
  --ft-caption: 0.75rem;
  --ft-label: 0.6875rem;

  /* Colors */
}
