.button {
  cursor: pointer;
  font-size: var(--ft-body-0);
  transition: all ease-in-out 0.17s;

  &--primary {
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: white;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: var(--ft-body-1);

    a { padding: 0.5rem; }

    &:hover {
      background-color: transparent;
      border-color: black;

      &:disabled {
        background-color: black;
        border-color: transparent;
      }
    }
  }

  &--secondary {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: white;
    background-color: transparent;

    a { padding: 0.5rem; }

    &:hover {
      background-color: black;

      &:disabled {
        background-color: transparent;
      }
    }
  }

  &--small {
    font-size: var(--ft-sm-2);
  }

  &--large {
    font-size: var(--ft-body-3);
  }

  &--fit {
    width: fit-content;
    height: fit-content;
  }

  &--bold {
    font-weight: bold;
  }

  &--link {
    display: flex;
    align-items: center;
    padding: 0;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--img {
    background-color: transparent;
    padding: 0;
    border: none;
    
    img {
      max-width: 1.8rem;
    }
  }

  &--icon {    
    img {
      max-width: 1.8rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.button--danger.button--primary {
  background-color: var(--red-3);

  &:hover {
    border: 1px solid var(--red-3);
    background-color: transparent;
  }
}

.button--danger.button--secondary {
  border: 1px solid var(--red-3);

  &:hover {
    background-color: var(--red-3);;
  }
}